<%
=begin%>
 <%= form_with(model: [@profile, @social]) do |f| %>
  <h3> Socials </h3>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.label :username %><br />
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="col mt-4">
        <%= f.submit "Add social", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %> 
<%
=end%>

<div class="row">
  <div class="col">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="col">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>
</div>
