<h1>Listing socials</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @socials.each do |social| %>
  <tr>
    <td><%= social.name %></td>
    <td><%= social.username %></td>
    <td><%= link_to 'Show', [social.profile, social] %></td>
    <td><%= link_to 'Edit', edit_profile_social_path(social.profile, social) %></td>
    <td><%= link_to 'Destroy', [social.profile, social], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Social', new_profile_social_path(params[:profile_id]) %>
